input[type=text],input[type=password]
{
  padding: 10px;
}

button,input
{
  border: 2px solid black !important;
  border-radius: 5px;
  padding: 5px!important;
}

button.blue
{
  background-color: #73acfb!important;
  color: white!important;
  &:hover
  {
    background-color: #5f8be3!important;
  }
}

button.gray
{
  background-color: #dedfe0!important;
}

.text-content
{
  //强制换行
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}